{% extends "template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-width-container ">
    <main class="govuk-main-wrapper">

      <h1 class="govuk-heading-l">{{ name }}</h1>

      <p class="govuk-body">
        {{ message }}
      </p>
      <pre class="govuk-body">{{ stack }}</pre>

      {{ govukButton({
        text: "Continue",
        href: "/"
      }) }}

    </div>
  </main>
</div>
{% endblock %}